<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>MouseRec needs access to system events to record and replay your mouse and keyboard actions.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>MouseRec needs administrator permissions to capture and simulate mouse and keyboard events.</string>
</dict>
</plist>
